<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title th:text="#{branding.name}">Sealed Move</title>
		<link 
			rel="stylesheet" 
			href="../../webapp/resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}" 
			/>
	</head>
	
	<body>
		<nav class="navbar navbar-default" th:fragment="nav-bar">
			<div class="container-fluid">
				<div class="navbar-header" th:fragment="nav-brand">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/" th:text="#{branding.name}">Sealed Move</a>
				</div>
				
				<div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav pull-right">
						<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" th:inline="text">
						<span th:text="#{nav.bar.signed.in.as}">Signed in as</span> 
						<span sec:authentication="principal.firstName">Firstname</span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:text="#{nav.bar.start}" href="/start">Start a game</a></li>
								<li><a th:text="#{nav.bar.join}" href="/join">Join a game</a></li>
								<li><a th:text="#{nav.bar.my.games}" href="/games">My games</a></li>
								<li><a th:text="#{nav.bar.change.password}" href="#">Change password</a></li>
								<li><a th:text="#{nav.bar.my.profile}" href="#">My profile</a></li>
							</ul>
						</li>
						<li class="">			
							<a href="javascript: document.logoutForm.submit()" th:text="#{nav.bar.logout}"> Logout</a>
							<form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
								<input th:hidden="true" type="submit" value="Logout"/>
							</form>
						</li>
					</ul>
				</div>
				
				<div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form id="signin" class="navbar-form navbar-right" th:action="@{/login}" method="POST">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="username" type="text" class="form-control" name="username" value="" th:placeholder="#{login.placeholder.username}" placeholder="Username" />                                        
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="password" type="password" class="form-control" name="password" value="" th:placeholder="#{login.placeholder.password}" placeholder="Password"/>                                        
						</div>
		
						<button type="submit" class="btn btn-primary" th:text="#{nav.bar.log.in}">Login</button>
					</form>
				</div>
			</div>
		</nav>
	</body>
</html>