<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sealed Move - Please log in</title>
		<link 
			rel="stylesheet" 
			href="../../webapp/resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}" 
			/>
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<p th:if="${param.error}">Wrong user or password</p>
			<p th:if="${param.logout}">You have been logged out</p>
			<form th:action="@{/login}" name="f" method="post">
				<fieldset>
					<input type="text" id="username" name="username" placeholder="Username"/> <br />
					<input type="password" id="password" name="password" placeholder="Password"/> <br />
					<input type="submit" value="Log in" />
				</fieldset>
			</form>
		</div>
		<script th:src="@{/resources/js/jquery-1.11.2.min.js}" src="../../webapp/resources/js/jquery-1.11.2.min.js"></script>
		<script th:src="@{/resources/js/bootstrap.min.js}" src="../../webapp/resources/js/bootstrap.min.js"></script>
	</body>
</html>