<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title th:text="#{start.title}">Sealed Move - Start a New Game</title>
		<link 
			rel="stylesheet" 
			href="../../webapp/resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}" 
			/>
	</head>
	<body>
		<div th:replace="fragments :: nav-bar">
			<!-- This is for prototyping only -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					<a class="navbar-brand" href="#">Brand</a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav pull-right">
							<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown">Signed in as Joe <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Change Password</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</li>
							<li class="">			
								<a href="javascript: document.logoutForm.submit()"> Logout</a>
								<form name="logoutForm" method="POST" action="/logout" hidden="hidden">
									<input type="submit" value="Logout" hidden="hidden" />
									<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
								</form>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container">
			<h1 th:text="#{start.header}">You can start a new game here</h1>
			
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#instructions">Instructions</a></li>
				<li th:each="game : ${games}">
					<a data-toggle="tab" th:href="'#' + ${game.name}" th:text="${game.displayName}" href="#game1">Game 1</a>
				</li>
				<li th:remove="all"><a data-togle="tab" href="#game2">Game 2</a></li>
				<li th:remove="all"><a data-togle="tab" href="#game3">Game 3</a></li>
			</ul>
			<div class="panel-body">
				<div class="tab-content">
					<div id="instructions" class="tab-pane fade in active">
						<h3 th:text="#{start.instructions.header}">Instructions</h3>
						<p th:text="#{start.instructions.message}">Please select a game tab, enter the options and click start</p>
					</div>
					<div th:each="game : ${games}" th:id="${game.name}" class="tab-pane fade" id="game1">
						<h3 th:text="${game.displayName}">Game 1</h3>
						<p th:text="#{start.instructions.num.players(${game.minPlayers}, ${game.maxPlayers})}">This game must have a minimum of 2 players
						and a maximum of 2</p>
						<p><a th:text="#{start.new.game}" href="/started.html" th:href="@{'/start/'+${game.name}+'/2/game'}">Start a new game</a>.</p>
					</div>
					<!-- TODO - these prototypes won't work!! -->
					<div id="game2" th:remove="all" class="tab-pane fade">
						<h3>Game 2</h3><p>Dummy data for prototype</p>
					</div>
					<div id="game3" th:remove="all" class="tab-pane fade">
						<h3>Game 3</h3><p>Dummy data for prototype</p>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/resources/js/jquery-1.11.2.min.js}" src="../../webapp/resources/js/jquery-1.11.2.min.js"></script>
		<script th:src="@{/resources/js/bootstrap.min.js}" src="../../webapp/resources/js/bootstrap.min.js"></script>
	</body>
</html>